@import './abstract/mixin.scss';

.menu {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    @include flex(row nowrap, space-between, center);
    background-color: $clr-accent;
    

    &__logo {
        width: 150px;

        & > img {
            object-fit: cover;
            aspect-ratio: 16/09;

        }
    }

    &__nav {
        padding-inline: 1em;
        
        @include flex(row wrap, center, center);
      
    }

    &__nav > * {
        margin-left: 15px;
    }
}