@import './abstract/mixin.scss';

.menu {
    @include flex(row nowrap, space-between, center);
    background-color: $clr-accent;
    

    &__logo {
        width: 150px;

        & > img {
            object-fit: cover;
            aspect-ratio: 16/09;

        }
    }

    &__nav {
        padding-inline: 1em;
      
    }

    &__nav > * {
        margin-left: 15px;
    }

}