$clr-primary : #3e60be;
$clr-secondary: hsl(267, 79%, 66%);
$clr-accent: #7c787b;
$clr-neutral-light: #efefef;
$clr-neutral-dark: hsla(0, 22%, 7%, 0.62);

$simple-gradient: $clr-primary, $clr-secondary;
$complex-gradient: $clr-primary, $clr-secondary, $clr-accent;

$scheme-default: $clr-neutral-light, $clr-secondary;
$scheme-secondary: $clr-neutral-dark, $clr-secondary;
$scheme-accent-gradient: $clr-neutral-dark, $complex-gradient; 
