
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: min(1200px, 90%);
    margin-inline: auto;
}